@using MrWho.Shared.Models
@if (!editUser.IsEdit)
{
    <RadzenAlert AlertStyle="AlertStyle.Info"><RadzenText>Save user first to assign clients.</RadzenText></RadzenAlert>
}
else
{
    <div style="padding: 1rem;">
        <RadzenStack Gap="1.5rem">
            <RadzenText TextStyle="TextStyle.H6" Text="Client Assignments" />
            <RadzenCard Style="background-color: var(--rz-base-50);">
                <RadzenStack Gap="1rem">
                    <RadzenText TextStyle="TextStyle.Subtitle1" Text="Assign to Client" />
                    <RadzenRow>
                        <RadzenColumn Size="12" SizeMD="8">
                            <RadzenFormField Text="Client" Variant="Variant.Outlined">
                                <RadzenDropDown @bind-Value="editUser.selectedClientId" Data="@editUser.availableClients" TextProperty="Name" ValueProperty="Id" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Placeholder="Select a client" Style="width: 100%;" />
                            </RadzenFormField>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeMD="4">
                            <RadzenFormField Text="Action" Variant="Variant.Outlined">
                                <RadzenButton Click="@(async () => await editUser.AssignClient())" Icon="person_add" ButtonStyle="ButtonStyle.Primary" Text="Assign" Disabled="@string.IsNullOrWhiteSpace(editUser.selectedClientId)" IsBusy="@editUser.isAssigningClient" Style="width: 100%;" />
                            </RadzenFormField>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenCard>
            <RadzenStack Gap="0.75rem">
                <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-font-weight-600">Assigned Clients</RadzenText>
                @if (editUser.assignedClients.Any())
                {
                    <RadzenDataGrid Data="@editUser.assignedClients" TItem="UserClientDto" AllowPaging="true" PageSize="10" AllowSorting="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="UserClientDto" Property="ClientPublicId" Title="Client ID" />
                            <RadzenDataGridColumn TItem="UserClientDto" Property="ClientName" Title="Name" />
                            <RadzenDataGridColumn TItem="UserClientDto" Property="CreatedAt" Title="Assigned" />
                            <RadzenDataGridColumn TItem="UserClientDto" Title="Actions" Width="120px">
                                <Template Context="c">
                                    <RadzenButton Click="@(async () => await editUser.RemoveClient(c))" Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Text" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                }
                else
                {
                    <RadzenAlert AlertStyle="AlertStyle.Info">
                        <RadzenText>This user is not assigned to any clients.</RadzenText>
                    </RadzenAlert>
                }
            </RadzenStack>
        </RadzenStack>
    </div>
}

@code {
    [Parameter] public EditUser editUser { get; set; } = null!;
}
